.containerFormLogin{
    width: 40%;
    height: 80%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.containerLogo{
    width: 40%;
    height: 30%;
    margin-top: 6%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.Frase{
    color: #F98607;
    font-size: 30px;
    font-weight: bold;
    margin-top: 4%;
}

.containerInputs{
    color: #F98607;
    height: 30%;
    width: 80%;
}

.inputEmail{
    margin-top: 4%;
    width: 100%;
    height: 30%;
    border: 2px #F98607 solid;
    border-radius: 10px;
    padding: 10px;
    font-size: 10px;
    font-weight: bold;
}

.inputEmail:focus {
    outline: none; /* Quita el contorno predeterminado al hacer foco en el input */
    border-color: rgb(255, 140, 0); /* Cambia el color del borde cuando el input está enfocado */
  }

.inputPassword{
    margin-top: 4%;
    width: 100%;
    height: 30%;
    border: 2px #F98607 solid;
    border-radius: 10px;
    padding: 10px;
    font-size: 10px;
    font-weight: bold;
}

.inputPassword:focus {
    outline: none; /* Quita el contorno predeterminado al hacer foco en el input */
    border-color: rgb(255, 140, 0); /* Cambia el color del borde cuando el input está enfocado */
}

.buttonLogin{
    color: #ffffff;
    background-color: #F98607;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.containerButtonLogin{
    width: 70%;
    height: 8%;
    
}